#vehicle-list {
	height: 100%;
}

#new-vehicle-btn {
	padding-left: 23px !important;
}
#new-vehicle-btn::before {
	position: absolute;
	content: "+";
	font-weight: bold;
	font-size: 150%;
	left: 7px;
}
.new-vehicle-add-dialog {

}
.new-vehicle-name {

}
.new-vehicle-add {

}

#app-content-wrapper {
	overflow: hidden;
	height: 100%;
}
#records, #statistics {
	position: relative;
	height: 100%;
	float: left;
}

#statistics:after {
	clear: both;
	content: '';
	display: block;
}

#records {
	width: 30%;
	height: 100%;
}
#record-column {
	height: 100%;
	overflow-y: auto;
}
#new-record, #record-list {
	position: relative;
	width: 100%;
}
#new-record {
	overflow: hidden;
}
#new-record:after {
	clear: both;
}

.new-record-input {
	position: relative;
	width: 50%;
	padding: 7px;
	float: left;
}
.new-record-input input {
	position: relative;
	width: 100%;
}

.record-container {
	position: relative;
	width: 100%;
	height: 110px;
	border-top: 1px solid #EEEEEE;
}
.record-container:hover {
	background-color: #F8F8F8;
}
.record-odo, .record-date, .record-distance, .record-fuel, .record-consumption {
	position: relative;
	width: 50%;
	padding: 7px;
	float: left;
}
.record-date {
	font-weight: bold;
}

#statistics {
	width: 70%;
}

#statistics .charts {
	position: relative;
	width: 100%;
	height: 100%;
}

#statistics .charts .tile {
	position: relative;
	width: 50%;
	height: 50%;
	float: left;
}

#statistics .charts:last-child:after {
	content: '';
	clear: both;
	display: block;
}

#statistics .charts .tile .chart-title,#statistics .charts .tile .chart-container  {
	position: absolute;
	left: 5px;
	right: 5px;
}

#statistics .charts .tile .chart-title {
	top: 0px;
	height: 27px;
}

#statistics .charts .tile .chart-container {
	top: 27px;
	bottom: 5px;
}

#statistics .charts .tile .chart-title h3 {
	font-weight: 700;
}

#app-settings-content h3 {
	padding: 5px 0px;
	font-weight: 700;
}

.vehicle-import button {
	position: relative;
	width: 110px;
	height: 32px;
}

.container {
	position: relative;
	height: 100%;
	width: 100%;
}

.loading-view {
	position: relative;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}