#new-vehicle-btn {
	padding-left: 23px !important;
}
#new-vehicle-btn::before {
	position: absolute;
	content: "+";
	font-weight: bold;
	font-size: 150%;
	left: 7px;
}
.new-vehicle-add-dialog {
	
}
.new-vehicle-name {
	
}
.new-vehicle-add {
	
}

#record-list, #statistics {
	position: relative;
	float: left;
}

#record-list {
	width: 30%;
}
.record-container {
	position: relative;
	width: 100%;
	height: 110px;
	border-top: 1px solid #EEEEEE;
}
.record-odo, .record-date, .record-distance, .record-fuel, .record-consumption {
	position: relative;
	width: 50%;
	padding: 7px;
	float: left;
}
.record-date {
	font-weight: bold;
}

#statistics {
	widt: 70%;
}

.hidden {
	display: none;
}