#new-vehicle-btn {
	padding-left: 23px !important;
}
#new-vehicle-btn::before {
	position: absolute;
	content: "+";
	font-weight: bold;
	font-size: 150%;
	left: 7px;
}
.new-vehicle-add-dialog {
	
}
.new-vehicle-name {
	
}
.new-vehicle-add {
	
}

#records, #statistics {
	position: relative;
	float: left;
}

#records {
	width: 30%;
}
#new-record, #record-list {
	position: relative;
	width: 100%;
}
#new-record {
	overflow: hidden;
}
#new-record:after {
	clear: both;
}

.new-record-input {
	position: relative;
	width: 50%;
	padding: 7px;
	float: left;
}
.new-record-input input {
	position: relative;
	width: 100%;
}

.record-container {
	position: relative;
	width: 100%;
	height: 110px;
	border-top: 1px solid #EEEEEE;
}
.record-container:hover {
	background-color: #F8F8F8;
}
.record-odo, .record-date, .record-distance, .record-fuel, .record-consumption {
	position: relative;
	width: 50%;
	padding: 7px;
	float: left;
}
.record-date {
	font-weight: bold;
}

#statistics {
	width: 70%;
}

.hidden {
	display: none;
}